
<div class="container-fluid sticky-top">
    <div class="row headerBackground">
        <div class="col-6">
        </div>
        <div class="col-6" style="display:flex;justify-content: right;">
            <ul class="navigation" id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Contact</a></li>
                <span class="toggleMenu" (click)="openMenu()"></span>
            </ul>
        </div>
    </div>
</div>
