<div class="container-fluid footer">
  <div class="row">
    <div class="col-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">

    </div>
    <div class="col-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="social">
        <p>Follow me on social media</p>
        <ul class="wrapper">
          <a href="#" target="_blank">
            <li class="icon linkedin">
              <span class="tooltip">LinkedIn</span>
              <span><a href="https://www.linkedin.com/in/isha-lanjwal-2065031a0" target="_blank">
                <img src="../../../../assets/icons/logo-linkedin.svg" alt="linkedin">
              </a></span>
            </li>
          </a>
          <a href="#" target="_blank">
            <li class="icon facebook">
              <span class="tooltip">Facebook</span>
              <span><a href="https://www.facebook.com/isha.lanjwal.9" target="_blank"> 
                <img src="../../../../assets/icons/logo-facebook.svg" alt="facebook">
              </a></span>
            </li>
          </a>
          <a href="#" target="_blank">
            <li class="icon instagram">
              <span class="tooltip">Instagram</span>
              <span><a href="https://www.instagram.com/ishalanjwal/" target="_blank">
                <img src="../../../../assets/icons/logo-instagram.svg" alt="instagram">
              </a></span>
            </li>
          </a>
          <a href="#" target="_blank">
            <li class="icon email">
              <span class="tooltip">Email</span>
              <span><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank">
                <img src="../../../../assets/icons/mail-outline.svg" alt="email">
              </a></span>
            </li>
          </a>
        </ul>
      </div>
    </div>
    <!-- <div class="col-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 copyright">
     Copyright &copy; All rights reserved Designed by Isha Lanjwal, 2023
    </div> -->
  </div>
</div>