<footer>
    <div class="social">
      <p>Follow me on social media</p>
      <ul class="wrapper">
        <a href="#" target="_blank">
          <li class="icon linkedin">
            <span class="tooltip">LinkedIn</span>
            <span><img src="../../../../assets/icons/logo-linkedin.svg"></span>
          </li>
        </a>
        <a href="#" target="_blank">
          <li class="icon facebook">
            <span class="tooltip">Facebook</span>
            <span><img src="../../../../assets/icons/logo-facebook.svg"></span>
          </li>
        </a>
        <a href="#" target="_blank">
          <li class="icon instagram">
            <span class="tooltip">Instagram</span>
            <span><img src="../../../../assets/icons/logo-instagram.svg"></span>
          </li>
        </a>
        <a href="#" target="_blank">
          <li class="icon email">
            <span class="tooltip">Email</span>
            <span><img src="../../../../assets/icons/mail-outline.svg"></span>
          </li>
        </a>
      </ul>
    </div>
    <div class="final_text"></div>
    <p>Copyright &copy; All rights reserved
      <br>Designed by Isha Lanjwal, 2023
    </p>
  </footer>